<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>맛집 추가</title>
</head>
<body>
<h1>맛집 리스트를 추가하세요!</h1>
<form action="/list/save" method="post">
    <label>Title:</label><input type="text" name="listTitle" /><br />
    <label>Type:</label><input type="text" name="listType" /><br />
    <label>Menu:</label><input type="text" name="listMenu" /><br />
    <button type="submit">Save</button>
</form>
</body>
</html>
