<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>맛집 추가</title>
</head>
<body>
<h1>맛집 리스트를 추가하세요!</h1>
<form action="/list/save" method="post">
    <label>제목:</label><input type="text" name="listTitle" /><br />
    <label>종류:</label><input type="text" name="listType" /><br />
    <label>대표 메뉴:</label><input type="text" name="listMenu" /><br />
    <label>주소:</label><input type="text" name="listAddress" /><br />
    <button type="submit">저장</button>
</form>
</body>
</html>
